In [1]:
# imports

import pandas as pd
import numpy as np


import matplotlib.pyplot as plt
import seaborn as sns

import acquire as a

import wrangle as w

from env import get_connection
import os

%matplotlib inline

import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_rows', None)

In [2]:
# acquire data
df  = a.acquire_data()

In [3]:
# peak into data
df.head()

,id,name,start_date,end_date,program_id,date,time,path,user_id,ip
0,8.0,Hampton,2015-09-22,2016-02-06,1.0,2018-01-26,09:55:03,/,1,97.105.19.61
1,8.0,Hampton,2015-09-22,2016-02-06,1.0,2018-01-26,09:56:02,java-ii,1,97.105.19.61
2,8.0,Hampton,2015-09-22,2016-02-06,1.0,2018-01-26,09:56:05,java-ii/object-oriented-programming,1,97.105.19.61
3,8.0,Hampton,2015-09-22,2016-02-06,1.0,2018-01-26,09:56:06,slides/object_oriented_programming,1,97.105.19.61
4,22.0,Teddy,2018-01-08,2018-05-17,2.0,2018-01-26,09:56:24,javascript-i/conditionals,2,97.105.19.61

#### 1. Which lesson appears to attract the most traffic consistently across cohorts (per program)?

In [4]:
# get lesson that appears to attract the most traffic consistently across cohorts (per program)
program_cohort_max_traffic_df = w.get_program_cohort_max_traffic(df)

In [5]:
# look into dataframe
program_cohort_max_traffic_df

,program_id,name,path,proba_status
0,1.0,Arches,javascript-i,0.037352
1,1.0,Badlands,content/php_ii/command-line,0.078947
2,1.0,Denali,mkdocs/search_index.json,0.333333
3,1.0,Denali,prework/databases,0.333333
4,1.0,Denali,prework/versioning/github,0.333333
5,1.0,Franklin,javascript-ii/es6,0.149254
6,1.0,Glacier,content/html-css,0.053114
7,1.0,Hampton,java-iii,0.042285
8,1.0,Ike,html-css,0.053097
9,1.0,Joshua,content/html-css,0.064846
10,1.0,Kings,index.html,0.032308
11,1.0,Lassen,index.html,0.096788
12,1.0,Olympic,javascript-i,0.027634
13,1.0,Quincy,content/laravel/intro,0.035748
14,2.0,Andromeda,toc,0.027278
15,2.0,Apex,search/search_index.json,0.049602
16,2.0,Bash,search/search_index.json,0.041460
17,2.0,Betelgeuse,search/search_index.json,0.027533
18,2.0,Ceres,search/search_index.json,0.036742
19,2.0,Deimos,javascript-i,0.029731
20,2.0,Europa,toc,0.037577
21,2.0,Fortuna,toc,0.038753
22,2.0,Ganymede,search/search_index.json,0.036413
23,2.0,Hyperion,toc,0.037680
24,2.0,Jupiter,toc,0.055341
25,2.0,Kalypso,javascript-i,0.028940
26,2.0,Luna,javascript-i,0.042989
27,2.0,Mammoth,java-i,0.031509
28,2.0,Marco,toc,0.060667
29,2.0,Neptune,toc,0.067932
30,2.0,Niagara,spring,0.097598
31,2.0,Oberon,javascript-i/introduction/operators,0.120620
32,2.0,Pinnacles,javascript-i,0.036392
33,2.0,Sequoia,spring,0.057999
34,2.0,Teddy,spring,0.027049
35,2.0,Ulysses,mkdocs/search_index.json,0.027699
36,2.0,Voyageurs,javascript-i,0.027534
37,2.0,Wrangell,toc,0.041873
38,2.0,Xanadu,javascript-i,0.027958
39,2.0,Yosemite,toc,0.036563
40,2.0,Zion,toc,0.041749
41,3.0,Bayes,1-fundamentals/modern-data-scientist.jpg,0.027866
42,3.0,Curie,6-regression/1-overview,0.031805
43,3.0,Darden,classification/overview,0.039722
44,3.0,Easley,classification/scale_features_or_not.svg,0.034765
45,3.0,Florence,fundamentals/modern-data-scientist.jpg,0.079995
46,4.0,Apollo,content/html-css,0.500000

#### 6. What topics are grads continuing to reference after graduation and into their jobs (for each program)?

In [6]:
# get dataframe with graduates
grad_df = df[df.date > df.end_date]

# get topic that grads continue to reference
grad_progarm_max_traffic_df = w.get_program_max_traffic(df)

# peak into data
grad_progarm_max_traffic_df

   program_id                      path  proba_status
0         1.0                index.html      0.036385
1         2.0              javascript-i      0.026984
2         3.0  search/search_index.json      0.024180
3         4.0          content/html-css      0.500000

#### 7. Which lessons are least accessed?

In [7]:
# get dataframe with count of lessson visited
min_traffic = w.min_traffic(df)

In [9]:
# get dataframe with least count of lessson visited
min_traffic[min_traffic['count']==1].head(10)

                                     count
where                                    1
classification/explore-old               1
decision-trees                           1
aliases                                  1
javascript-i/intruduction/operators      1
javascript/loops                         1
strudents                                1
extra-exercises/j                        1
java-iii/servelets                       1
data-science-pipeline                    1